# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.env.*
.venv/
venv/
ENV/
env/

# Local models & databases
local_bge_model/
chroma_db/

# Docs you don't want public
Task.md
DOCS.md

# Streamlit secrets
.streamlit/secrets.toml

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints

# Testing / coverage
.coverage
.pytest_cache/
htmlcov/